body
{
	background-color: rgb(240,240,240);
	font-family: "Times New Roman";
}

h1
{
	font-size: 26px;
	text-align: center;
}

p, ul
{
	color: rgb(0,155,0);
}

i
{
	color: rgb(200,15,15);
}

ul
{
	list-style-type: upper-roman;
	margin: 25px 10px 75px 0;
}

ul>li>ul
{
	list-style-type: circle;
	color: rgb(0,0,0);
}

a
{
	color: rgb(0,0,255);
	text-decoration: none;
}

img
{
	border-radius: 25px;
}

img:hover
{
	opacity: 0.5;
}

pre
{
	background-color: #FFB0F5;
	border-style: dashed;
	padding: 10px;
	margin: 10px;
}

table
{
	border: 4px solid black;
	padding: 5px;
}

td
{
	border: 1px solid black;
	padding: 2px;
}